@font-face {
    font-family: 'JetBrains Mono Regular', sans-serif;
    src: url(../src/fonts/JetBrainsMono-Regular.ttf);
}


body {
    background-color:rgb(20, 20, 20);
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

.links {
    margin-top: 900px;
}

.sociallink {
    animation-name: fadeIn;
    animation-duration: 3s;
}

.bio-font {
    font-family: 'JetBrains Mono', sans-serif;
}

.bio, projects {
    position: fixed;
    background: rgb(25,25,25);
    height: 40%;
    width: 30%;
    box-sizing: border-box;
    max-width: 50vw;
    font-size: 100%;
    box-shadow: 5px 10px 8px #373b3b31;
    top: 50%;
    left: 50%;
    padding-left: 1%;
    padding-right: 0.5%;
    padding-bottom: 1%;
    padding-top: 0%;
    margin-top: -10%;
    margin-left: -15%;
}

.bio-align-left {
    text-align: left;
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

.middle {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

a {
    color:inherit;
    text-decoration: none;
}

.middle-bottom {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 300px;
    margin-left: -200px;
}

img {
    padding: 3px;
}

.center { /* <center> tag is no longer needed and is considered useless/going to be deprecated???? so im just gonna center using css and div */
    text-align: center;
}